@import '../../variables.css';

.p-card {
    border: 1px var(--main-bg-color) solid;
}

.p-card .p-card-title {
    text-align: left;
    color: var(--main-text-color);
}

.p-card .p-card-content {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}

.p-card .p-card-content > div {
    flex: 50%;
    display: flex;
    align-items: center;
}

.restaurant-card .pi {
    color: var(--main-text-color);
}

.restaurant-card {
    margin: 1rem;
}

.restaurant-info > span {
    color: var(--main-text-color);
}