@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import './variables.css';

.App {
  text-align: center;
}

.App-header {
  background-color: var(--main-bg-color);
  min-height: 5vh;
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Roboto', sans-serif;
}

.app-title {
  font-size: 1.5rem;
}

.search-page-container {
  display: flex;
  flex-direction: column;
}

h1, h2, p label {
  color: var(--main-text-color);
}

.empty-results-container, .type-a-search-container {
  margin-top: 10vh;
}

.search-results-container {
  display: flex;
  flex-direction: column;
}

.restaurant-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 30%);
  grid-gap: 1rem;
  justify-content: space-between;
}

.p-divider.p-divider-horizontal:before {
  border-color: var(--main-bg-color) !important;
}

@media only screen and (max-width: 1100px) {

  .restaurant-cards-container {
    grid-template-columns: repeat(auto-fill, 100%);
  }
  
}